
@font-face {
    font-family: "Bebas Neue";
    src: url("BebasNeue.otf");
}

.page {
    margin:0;
    padding:0;
}

.header {
    position:fixed;
    z-index: 499;
    width: 100%;
    height: 80px;
    color: white;
    background: #222 linear-gradient(to top, rgba(5, 132, 242, 1), rgba(10, 175, 241, 1));
    box-shadow: 0 1px 14px 1px #222222;
}

.title {
    position: relative;
    float: left;
    left: 0;
    font-size: 1.8em;
    font-family: Bebas Neue, Verdana, serif;
    letter-spacing: 6px;
    padding: 5px 30px;
    text-shadow: 2px 2px 2px #222222;
    user-select: none;
    transition: 0.2s;
}

.tabs-container {
    padding: 80px 20px 10px;
    user-select: none;
}

.content {
    padding: 0 30px 20px;
}

@media screen and (max-width: 550px) {
    .title {
        padding: 12px 20px;
        font-size: 1.4em;
    }
}